{% load static %}
{% load i18n %}

<div class="app-topstrip bg-primary py-2 px-3 w-100 d-flex align-items-center justify-content-between">

  <!-- LEFT -->
  <div class="d-flex align-items-center gap-3">

    <!-- HAMBURGER MOBILE -->
    <button class="btn btn-light d-lg-none" id="menuToggle">
      ☰
    </button>

    <img src="{% static 'images/logos/cia.jpeg' %}" width="35">

    <div class="d-none d-md-block">
      <h6 class="text-white mb-0 fw-bold">DLTR INDUSTRIE</h6>
      <small class="text-white-50">Système de Gestion de Production</small>
    </div>

  </div>

  <!-- RIGHT -->
  <div class="d-flex align-items-center gap-4">

    <div class="dropdown">

      <a href="#" data-bs-toggle="dropdown" class="d-flex align-items-center text-white text-decoration-none">

        <img src="{% static 'images/profile/user-1.jpg' %}"
             width="35"
             height="35"
             class="rounded-circle me-2">

        <strong class="d-none d-md-block">
          {{ request.user.username }}
        </strong>

      </a>

      <ul class="dropdown-menu dropdown-menu-end">

        <li>
          <a class="dropdown-item" href="/admin/">
            Administration
          </a>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li>
          <a class="dropdown-item text-danger" href="{% url 'logout' %}">
            Déconnexion
          </a>
        </li>

      </ul>

    </div>

  </div>

</div>