{% load static %}

<aside class="left-sidebar">
  <div class="scroll-sidebar">

    <nav class="sidebar-nav">

      <ul id="sidebarnav">

        <!-- Dashboard -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="/">
            <span>Tableau de Bord</span>
          </a>
        </li>

        <!-- PRODUCTION -->
        <li class="sidebar-item">

          <a class="sidebar-link has-arrow" href="javascript:void(0)">
            Production
          </a>

          <ul class="collapse first-level">

            <li class="sidebar-item">
              <a href="{% url 'ordres' %}" class="sidebar-link">
                Ordres de Fabrication
              </a>
            </li>

            <li class="sidebar-item">
              <a href="{% url 'produits' %}" class="sidebar-link">
                Produits
              </a>
            </li>

            <li class="sidebar-item">
              <a href="{% url 'livraisons' %}" class="sidebar-link">
                Livraisons
              </a>
            </li>

          </ul>

        </li>

        <!-- MATIERES -->
        <li class="sidebar-item">
          <a class="sidebar-link" href="{% url 'matieres' %}">
            Matières Premières
          </a>
        </li>

      </ul>

    </nav>

  </div>
</aside>