{% load static %}

<aside class="left-sidebar" id="sidebar">

<div class="scroll-sidebar">

<nav class="sidebar-nav">

<ul id="sidebarnav">

<li class="sidebar-item">
<a class="sidebar-link" href="/">
<i class="ti ti-dashboard"></i>
<span>Tableau de Bord</span>
</a>
</li>

<li class="sidebar-item">

<a class="sidebar-link has-arrow" href="javascript:void(0)">
<i class="ti ti-factory"></i>
<span>Production</span>
</a>

<ul class="collapse first-level">

<li class="sidebar-item">
<a href="{% url 'ordres' %}" class="sidebar-link">
Ordres de Fabrication
</a>
</li>

<li class="sidebar-item">
<a href="{% url 'produits' %}" class="sidebar-link">
Produits
</a>
</li>

<li class="sidebar-item">
<a href="{% url 'livraisons' %}" class="sidebar-link">
Livraisons
</a>
</li>

<li class="sidebar-item">
<a href="/admin/production/client/" class="sidebar-link">
Clients
</a>
</li>

<li class="sidebar-item">
<a href="/admin/production/mouvementstock/" class="sidebar-link">
Mouvements
</a>
</li>

</ul>

</li>

<li class="sidebar-item">
<a class="sidebar-link" href="{% url 'matieres' %}">
<i class="ti ti-leaf"></i>
<span>Matières Premières</span>
</a>
</li>

</ul>

</nav>

</div>

</aside>