{% load static %}

<aside class="left-sidebar">

<div>

<div class="brand-logo d-flex align-items-center justify-content-between">

<a href="/" class="text-nowrap logo-img">

<img src="{% static 'images/logos/cia.jpeg' %}" width="180">

</a>

<div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer">

<i class="ti ti-x fs-8"></i>

</div>

</div>


<nav class="sidebar-nav scroll-sidebar">

<ul id="sidebarnav">


<li class="sidebar-item">

<a class="sidebar-link" href="/">

<i class="ti ti-dashboard"></i>

<span class="hide-menu">

Dashboard

</span>

</a>

</li>



<li class="sidebar-item">

<a class="sidebar-link has-arrow" href="javascript:void(0)">

<i class="ti ti-factory"></i>

<span class="hide-menu">

Production

</span>

</a>

<ul class="collapse first-level">

<li class="sidebar-item">
<a href="{% url 'ordres' %}" class="sidebar-link">Ordres Fabrication</a>
</li>

<li class="sidebar-item">
<a href="{% url 'produits' %}" class="sidebar-link">Produits</a>
</li>

<li class="sidebar-item">
<a href="{% url 'livraisons' %}" class="sidebar-link">Livraisons</a>
</li>

</ul>

</li>


<li class="sidebar-item">

<a class="sidebar-link" href="{% url 'matieres' %}">

<i class="ti ti-leaf"></i>

<span class="hide-menu">

Matières Premières

</span>

</a>

</li>


</ul>

</nav>

</div>

</aside>