{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}DLTR Industrie{% endblock %}</title>

{% block vendor_css %}

<link rel="shortcut icon" href="{% static 'images/logos/favicon.png' %}">

<link rel="stylesheet" href="{% static 'css/styles.min.css' %}">

{% endblock vendor_css %}

</head>


<body>

<div class="page-wrapper" id="main-wrapper"
data-layout="vertical"
data-navbarbg="skin6"
data-sidebartype="full"
data-sidebar-position="fixed"
data-header-position="fixed">


{% include "partials/sidebar.html" %}


<div class="body-wrapper">

{% include "partials/navbar.html" %}

<div class="container-fluid">

{% block content %}

{% endblock %}

</div>

</div>

</div>


{% block vendor_js %}

<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>

<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/sidebarmenu.js' %}"></script>

<script src="{% static 'js/app.min.js' %}"></script>

<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

<script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>

{% endblock vendor_js %}

{% block page_js %}

{% endblock page_js %}

</body>

</html>